<section class="border border-bordercard/10 h-full rounded-md text-semiwhite snap-start px-5 py-4">
  <div class="flex items-center gap-2 mb-5">
    <img class="size-5 opacity-70 mt-1" src="/about_icon.svg" alt="about_icon" />
    <h1 class="font-semibold text-lg">About</h1>
  </div>
  <p class="text-left text-base">
    Front-End Developer with hands-on experience building responsive and user-friendly web
    applications using React, Next.js, JavaScript (ES6+), and Tailwind CSS. Familiar with
    integrating Firebase for authentication and data management. Skilled in translating UI/UX
    designs from Figma into clean, maintainable code, with attention to cross-browser compatibility,
    performance, and accessibility. Motivated to continuously improve and contribute to scalable,
    user-focused digital solutions.
  </p>
</section>
