<section class="border border-bordercard/10 h-full rounded-md text-semiwhite px-5 py-4">
  <div class="flex items-center gap-2 mb-5">
    <img class="size-4.5 opacity-70" src="/project_icon.svg" alt="project_icon" />
    <h1 class="font-semibold text-lg">Project</h1>
  </div>

  <div class="flex flex-col [&>div]:mx-auto md:mx-0 md:flex-row gap-y-3 md:gap-x-3 justify-center">
    <div class="flex flex-col border border-semiwhite/10 rounded-md p-4">
      <div class="overflow-clip mb-7 md:h-44 w-full max-w-90 group">
        <a href="https://kawit-tawny.vercel.app/" target="_blank">
          <img
            class="w-full group-hover:scale-105 h-full duration-300 ease-in-out transition-transform"
            src="/kawit_portal.svg"
            alt="kawit_portal"
          />
        </a>
      </div>
      <p class="text-left max-w-90 text-base">
        A full-featured tourism management and promotion platform designed to enhance visitor
        experience in Kawit. The system provides interactive navigation using Azure Maps, AI-powered
        assistance for tourist inquiries, and QR-based seamless authentication for fast and secure
        access. It supports online reservations, real-time visitor tracking, and analytics
        dashboards for administrators to monitor tourist flow, engagement, and site performance.
        Built with scalability and reliability in mind using cloud-based services
      </p>

      <div class="mt-auto pt-2">
        <span class="text-xs font-semibold">Built With</span>

        <div class="flex justify-between mt-0">
          <div class="flex gap-2 items-center [&>div]:relative [&>div>img]:size-4.5">
            <div class="group">
              <span
                class="group-hover:opacity-100 duration-500 transition-all ease-in-out absolute -top-7 opacity-0 border px-2 py-0.5 rounded-md text-xs bg-background"
                >Reactjs</span
              >
              <img src="/reactjs_icon.svg" alt="reactjs_icon" />
            </div>
            <div class="group">
              <span
                class="group-hover:opacity-100 duration-500 transition-all ease-in-out absolute -top-7 opacity-0 border px-2 py-0.5 rounded-md text-xs bg-background"
                >Next.js</span
              >
              <img src="/nextjs_icon.svg" alt="nextjs_icon" />
            </div>
            <div class="group">
              <span
                class="group-hover:opacity-100 duration-500 transition-all ease-in-out absolute -top-7 opacity-0 border px-2 py-0.5 rounded-md text-xs bg-background"
                >CockroachDB</span
              >
              <img src="/cockroach_icon.svg" alt="cockroach_icon" />
            </div>
            <div class="group">
              <span
                class="group-hover:opacity-100 duration-500 transition-all ease-in-out absolute -top-7 opacity-0 border px-2 py-0.5 rounded-md text-xs bg-background"
                >Firebase</span
              >
              <img src="/firebase_icon.svg" alt="firebase_icon" />
            </div>
            <div class="group">
              <span
                class="group-hover:opacity-100 duration-500 transition-all ease-in-out absolute -top-7 opacity-0 border px-2 py-0.5 rounded-md text-xs bg-background"
                >Azure</span
              >
              <img src="/azure_icon.svg" alt="azure_icon" />
            </div>
          </div>

          <div class="space-x-3 mx-2">
            <a
              class="hover:underline underline-offset-2 text-sm font-semibold"
              href="https://kawit-tawny.vercel.app/"
              target="_blank"
              >Visit</a
            ><a
              class="rounded-md border px-2 py-0.5 border-white/50 text-sm font-semibold hover:bg-white/5"
              href="https://github.com/nice2ceeu/kawit"
              target="_blank"
              >GitHub</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col border border-bordercard/10 rounded-md p-4">
      <div class="overflow-clip mb-7 h-44 w-full max-w-90 group">
        <a href="https://github.com/israelvalimento/Spot" target="_blank">
          <img
            class="w-full group-hover:scale-105 duration-300 ease-in-out transition-transform"
            src="/spot_project.svg"
            alt="spot_project"
          />
        </a>
      </div>
      <p class="text-left max-w-90 text-base">
        A basic inventory tracking interface that consumes a MockAPI REST service to display
        inventory data. Designed as a foundation for a larger system, it is currently in progress
        with future improvements planned.
      </p>

      <div class="mt-auto pt-2.5">
        <span class="text-xs font-semibold">Built With</span>

        <div class="flex justify-between mt-0">
          <div class="flex gap-2 items-center [&>div]:relative [&>div>img]:size-4.5">
            <div class="group">
              <span
                class="group-hover:opacity-100 duration-500 transition-all ease-in-out absolute -top-7 opacity-0 border px-2 py-0.5 rounded-md text-xs bg-background"
                >Reactjs</span
              >
              <img src="/reactjs_icon.svg" alt="reactjs_icon" />
            </div>
          </div>

          <div class="space-x-3 mx-2">
            <!-- <a
              class="hover:underline underline-offset-2"
              href="https://kawit-tawny.vercel.app/"
              target="_blank"
              >Visit</a
            > -->

            <a
              class="rounded-md border px-2 py-0.5 border-white/50 text-sm font-semibold hover:bg-white/5"
              href="https://github.com/israelvalimento/Spot"
              target="_blank"
              >GitHub</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
