<section class="border border-semiwhite/10 rounded-md h-full text-semiwhite px-5 py-4">
  <div class="flex items-center gap-2 mb-5">
    <img class="size-4 opacity-70 mt-1" src="/tech_icon.svg" alt="tech_icon" />
    <h1 class="font-semibold text-lg">Tech stack</h1>
  </div>

  <div class="[&>h1]:my-2">
    <h1 class="font-semibold text-sm">Front End</h1>
    <div
      class="flex flex-wrap gap-2 [&>span]:py-0.5 [&>span]:px-2 [&>span]:text-xs [&>span]:border [&>span]:rounded-md"
    >
      <span>HTML5</span>
      <span>CSS3</span>
      <span>JavaScript (ES6+)</span>
      <span>Angular</span>
      <span>React</span>
      <span>Next.js</span>
      <span>Tailwind CSS</span>
    </div>

    <h1 class="font-semibold text-sm">Back End</h1>
    <div
      class="flex mt-2 flex-wrap gap-2 [&>span]:py-0.5 [&>span]:px-2 [&>span]:text-xs [&>span]:border [&>span]:rounded-md"
    >
      <span>Firebase (Auth, Firestore)</span>
    </div>

    <h1 class="font-semibold text-sm">Design</h1>
    <div
      class="flex mt-2 flex-wrap gap-2 [&>span]:py-0.5 [&>span]:px-2 [&>span]:text-xs [&>span]:border [&>span]:rounded-md"
    >
      <span>Figma</span>
    </div>
  </div>
</section>
